*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.screen{
    background-color: rgb(19, 152, 59);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: white;
    border-radius: 10%;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.name{
    font-weight: bolder;font-size: xx-large;text-shadow: 2px 2px white;
}